<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_avatar(100,100) %>
</div>

<%= link_to 'Edit', edit_admin_user_path(@user), class: "btn btn-sm btn-success edit_book_#{@user.id}" %>
<%= link_to edit_admin_user_path(@user), class: "btn btn-outline-secondary btn-block edit_user_#{@user.id}" do %>
  <i class="fas fa-user-cog"></i>
<% end %>

<!-- ユーザーの投稿一覧 -->

<% @books.each do |book| %>
<div>
  <%= link_to admin_book_path(book.id) do %>
    <%= image_tag book.get_image(63,63) %>
  <% end %>
  <p>タイトル：<%= book.title %></p>
  <p>説明：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>
